<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | Contact Us</title>
  </head>
  <body>
    <h1>Contact Us</h1>
		<p>
			Contact Ruby on Rails Tutorial about the sample app at the
			<a href="http://railstutorial.org/contact">contact page</a>.
		</p>
  </body>
</html>
